body {
    width: 1240px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

#application {
    border:1px solid black;
    background-color: rgb(202, 199, 199); 
}

#station {
    border:1px solid black;
    background-color: rgb(175, 171, 171); 
}

#parameter {
    border:1px solid black;
    background-color: rgb(175, 171, 171); 
}

#graph {
    border:1px solid black;
    margin-left: 20px;
    
}

h1 {
    color: red;
}